:host {
  .estate-deals {
    margin-top: var(--sm-spacing);
    box-shadow: 20px 10px 60px #d9d9d9;
    height: 600px;
    width: 100%;
    border-radius: var(--xs-spacing);
    background-color: var(--ts-white);
  }
  .search-bar-wrapper {
  }
}
